<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle start>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Count the Numbers</ion-title> 
        <ion-buttons end>
            <button ion-button (click)="go_home()">
                    <ion-icon name="arrow-round-back" style="color:white;text-align: right"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-item>
        <ion-icon name="logo-twitter" item-start></ion-icon>
        Score
        <ion-badge item-end>{{score_rumbled_numbers}}</ion-badge>
    </ion-item>
    <hr/>
    <ion-grid>

        <ion-row id="dashborad_menu">
            <ion-col  *ngFor="let a of rumblesA;let i=index" (click)="process_drag('A',a,i)"  >
                {{a}}            
        </ion-col>
    </ion-row>
</ion-grid>
<hr/>
<ion-grid>
    <ion-row id="dashborad_menu">
        <ion-col *ngFor="let b of rumblesB;let i=index" (click)="process_drag('B',b,i)">
            {{b}}       
    </ion-col>
</ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-title>
          <button ion-button full (click)="start_game()">Restart Game</button>
      </ion-title>
  </ion-toolbar>
</ion-footer>
