<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle start>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Count the Numbers</ion-title> 
        <ion-buttons end>
            <button ion-button (click)="go_home()">
                    <ion-icon name="arrow-round-back" style="color:white;text-align: right"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <hr/>
    <ion-card>
        <ion-grid >

            <ion-row id="dashborad_menu"  (drop)="drop_item($event,dropData)" (dragover)="allowDrop($event)">
                <ion-col *ngFor="let item of rumblesA">
                    {{item}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
<hr/> <hr/>
<ion-card>
    <ion-grid>
         <ion-row id="dashborad_menu">
            <ion-col *ngFor="let item of rumblesB;let i = index "   draggable="true" (dragstart)="ondragstart_item($event,dropData,i)">
                {{item}}
        </ion-col>
    </ion-row>
</ion-grid>
</ion-card>


</ion-content>
