<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle start>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Rumbled Alphabets</ion-title> 
        <ion-buttons end>
            <button ion-button (click)="go_home()">
                    <ion-icon name="arrow-round-back" style="color:white;text-align: right"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row id="dashborad_menu" [dragula]='"my-bag"' [dragulaModel]="rumblesA">
            <ion-col  *ngFor="let item of rumblesA" detail-none >
                {{item}}            
        </ion-col>
    </ion-row>
</ion-grid>
<hr/>
<ion-grid>
    <ion-row id="dashborad_menu" [dragula]='"my-bag"' [dragulaModel]="rumblesB">
        <ion-col *ngFor="let item of rumblesB">
            {{item}}       
    </ion-col>
</ion-row>
</ion-grid>

</ion-content>
