/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
	/** primary **/
	--IonColor-primary: #eb445a;
	--IonColor-primary-rgb: 235, 68, 90;
	--IonColor-primary-contrast: #ffffff;
	--IonColor-primary-contrast-rgb: 255, 255, 255;
	--IonColor-primary-shade: #cf3c4f;
	--IonColor-primary-tint: #ed576b;

	/** secondary **/
	--IonColor-secondary: #3dc2ff;
	--IonColor-secondary-rgb: 61, 194, 255;
	--IonColor-secondary-contrast: #ffffff;
	--IonColor-secondary-contrast-rgb: 255, 255, 255;
	--IonColor-secondary-shade: #36abe0;
	--IonColor-secondary-tint: #50c8ff;

	/** tertiary **/
	--IonColor-tertiary: #5260ff;
	--IonColor-tertiary-rgb: 82, 96, 255;
	--IonColor-tertiary-contrast: #ffffff;
	--IonColor-tertiary-contrast-rgb: 255, 255, 255;
	--IonColor-tertiary-shade: #4854e0;
	--IonColor-tertiary-tint: #6370ff;

	/** success **/
	--IonColor-success: #2dd36f;
	--IonColor-success-rgb: 45, 211, 111;
	--IonColor-success-contrast: #ffffff;
	--IonColor-success-contrast-rgb: 255, 255, 255;
	--IonColor-success-shade: #28ba62;
	--IonColor-success-tint: #42d77d;

	/** warning **/
	--IonColor-warning: #ffc409;
	--IonColor-warning-rgb: 255, 196, 9;
	--IonColor-warning-contrast: #000000;
	--IonColor-warning-contrast-rgb: 0, 0, 0;
	--IonColor-warning-shade: #e0ac08;
	--IonColor-warning-tint: #ffca22;

	/** danger **/
	--IonColor-danger: #eb445a;
	--IonColor-danger-rgb: 235, 68, 90;
	--IonColor-danger-contrast: #ffffff;
	--IonColor-danger-contrast-rgb: 255, 255, 255;
	--IonColor-danger-shade: #cf3c4f;
	--IonColor-danger-tint: #ed576b;

	/** dark **/
	--IonColor-dark: #222428;
	--IonColor-dark-rgb: 34, 36, 40;
	--IonColor-dark-contrast: #ffffff;
	--IonColor-dark-contrast-rgb: 255, 255, 255;
	--IonColor-dark-shade: #1e2023;
	--IonColor-dark-tint: #383a3e;

	/** medium **/
	--IonColor-medium: #92949c;
	--IonColor-medium-rgb: 146, 148, 156;
	--IonColor-medium-contrast: #ffffff;
	--IonColor-medium-contrast-rgb: 255, 255, 255;
	--IonColor-medium-shade: #808289;
	--IonColor-medium-tint: #9d9fa6;

	/** light **/
	--IonColor-light: #f4f5f8;
	--IonColor-light-rgb: 244, 245, 248;
	--IonColor-light-contrast: #000000;
	--IonColor-light-contrast-rgb: 0, 0, 0;
	--IonColor-light-shade: #d7d8da;
	--IonColor-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
	/*
   * Dark Colors
   * -------------------------------------------
   */

	body {
		--IonColor-primary: #ff4961;
		--IonColor-primary-rgb: 255, 73, 97;
		--IonColor-primary-contrast: #000000;
		--IonColor-primary-contrast-rgb: 0, 0, 0;
		--IonColor-primary-shade: #e04055;
		--IonColor-primary-tint: #ff5b71;

		--IonColor-secondary: #50c8ff;
		--IonColor-secondary-rgb: 80, 200, 255;
		--IonColor-secondary-contrast: #ffffff;
		--IonColor-secondary-contrast-rgb: 255, 255, 255;
		--IonColor-secondary-shade: #46b0e0;
		--IonColor-secondary-tint: #62ceff;

		--IonColor-tertiary: #6a64ff;
		--IonColor-tertiary-rgb: 106, 100, 255;
		--IonColor-tertiary-contrast: #ffffff;
		--IonColor-tertiary-contrast-rgb: 255, 255, 255;
		--IonColor-tertiary-shade: #5d58e0;
		--IonColor-tertiary-tint: #7974ff;

		--IonColor-success: #2fdf75;
		--IonColor-success-rgb: 47, 223, 117;
		--IonColor-success-contrast: #000000;
		--IonColor-success-contrast-rgb: 0, 0, 0;
		--IonColor-success-shade: #29c467;
		--IonColor-success-tint: #44e283;

		--IonColor-warning: #ffd534;
		--IonColor-warning-rgb: 255, 213, 52;
		--IonColor-warning-contrast: #000000;
		--IonColor-warning-contrast-rgb: 0, 0, 0;
		--IonColor-warning-shade: #e0bb2e;
		--IonColor-warning-tint: #ffd948;

		--IonColor-danger: #ff4961;
		--IonColor-danger-rgb: 255, 73, 97;
		--IonColor-danger-contrast: #ffffff;
		--IonColor-danger-contrast-rgb: 255, 255, 255;
		--IonColor-danger-shade: #e04055;
		--IonColor-danger-tint: #ff5b71;

		--IonColor-dark: #f4f5f8;
		--IonColor-dark-rgb: 244, 245, 248;
		--IonColor-dark-contrast: #000000;
		--IonColor-dark-contrast-rgb: 0, 0, 0;
		--IonColor-dark-shade: #d7d8da;
		--IonColor-dark-tint: #f5f6f9;

		--IonColor-medium: #989aa2;
		--IonColor-medium-rgb: 152, 154, 162;
		--IonColor-medium-contrast: #000000;
		--IonColor-medium-contrast-rgb: 0, 0, 0;
		--IonColor-medium-shade: #86888f;
		--IonColor-medium-tint: #a2a4ab;

		--IonColor-light: #222428;
		--IonColor-light-rgb: 34, 36, 40;
		--IonColor-light-contrast: #ffffff;
		--IonColor-light-contrast-rgb: 255, 255, 255;
		--IonColor-light-shade: #1e2023;
		--IonColor-light-tint: #383a3e;
	}

	/*
   * iOS Dark Theme
   * -------------------------------------------
   */

	.ios body {
		--ion-background-color: #000000;
		--ion-background-color-rgb: 0, 0, 0;

		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;

		--IonColor-step-50: #0d0d0d;
		--IonColor-step-100: #1a1a1a;
		--IonColor-step-150: #262626;
		--IonColor-step-200: #333333;
		--IonColor-step-250: #404040;
		--IonColor-step-300: #4d4d4d;
		--IonColor-step-350: #595959;
		--IonColor-step-400: #666666;
		--IonColor-step-450: #737373;
		--IonColor-step-500: #808080;
		--IonColor-step-550: #8c8c8c;
		--IonColor-step-600: #999999;
		--IonColor-step-650: #a6a6a6;
		--IonColor-step-700: #b3b3b3;
		--IonColor-step-750: #bfbfbf;
		--IonColor-step-800: #cccccc;
		--IonColor-step-850: #d9d9d9;
		--IonColor-step-900: #e6e6e6;
		--IonColor-step-950: #f2f2f2;

		--ion-item-background: #000000;

		--ion-card-background: #1c1c1d;
	}

	.ios ion-modal {
		--ion-background-color: var(--IonColor-step-100);
		--ion-toolbar-background: var(--IonColor-step-150);
		--ion-toolbar-border-color: var(--IonColor-step-250);
	}

	/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

	.md body {
		--ion-background-color: #121212;
		--ion-background-color-rgb: 18, 18, 18;

		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;

		--ion-border-color: #222222;

		--IonColor-step-50: #1e1e1e;
		--IonColor-step-100: #2a2a2a;
		--IonColor-step-150: #363636;
		--IonColor-step-200: #414141;
		--IonColor-step-250: #4d4d4d;
		--IonColor-step-300: #595959;
		--IonColor-step-350: #656565;
		--IonColor-step-400: #717171;
		--IonColor-step-450: #7d7d7d;
		--IonColor-step-500: #898989;
		--IonColor-step-550: #949494;
		--IonColor-step-600: #a0a0a0;
		--IonColor-step-650: #acacac;
		--IonColor-step-700: #b8b8b8;
		--IonColor-step-750: #c4c4c4;
		--IonColor-step-800: #d0d0d0;
		--IonColor-step-850: #dbdbdb;
		--IonColor-step-900: #e7e7e7;
		--IonColor-step-950: #f3f3f3;

		--ion-item-background: #1e1e1e;

		--ion-toolbar-background: #1f1f1f;

		--ion-tab-bar-background: #1f1f1f;

		--ion-card-background: #1e1e1e;
	}
}
