page-drag-the-shapes {
	IonContent {
		background-image: url('../assets/imgs/bokeh-cover-bg1.jpg');
		background-size: cover; /* <------ */
		background-repeat: no-repeat;
		background-position: center center;
	}
	ion-footer {
		background-image: url('../assets/imgs/bokeh-cover-bg1.jpg');
		background-size: cover; /* <------ */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.chosen-image {
		font-size: 7em !important;
		margin: auto;
		width: 50%;
		border: 3px solid green;
		padding: 10px;
	}
	.choices-image {
		font-size: 4em !important;
		margin: auto;
		width: 50%;
		border: 1px solid #999999;
		padding: 10px;
	}
	.content-md {
		text-align: center;
	}
	.active {
		border: 1px solid green;
		color: green;
		background-color: rgba(233, 223, 233, 0.9);
	}
}
