page-who-am-i {
    ion-content{
        background-image: url('../assets/imgs/bokeh-cover-bg1.jpg');background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;
    }
    ion-footer {
        background-image: url('../assets/imgs/bokeh-cover-bg1.jpg');background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;   
    }
    ion-card img{
        max-height: 185px!important
    }
    .chosen-image{
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
    .active {
        border: 1px solid green;
        color:#fff;
        background-color: green;
    }
    .choices-image{
        margin: auto;
        width: 50%;
        border: 1px solid #999999;
        padding: 10px;
    }
}
