<ion-header>

    <ion-navbar>
        <ion-title>Add member</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="loginForm" (submit)="addItem()" novalidate>
        <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input #email formControlName="email" type="email" placeholder="E-mail "
                [class.invalid]="!loginForm.controls.email.valid &&
                loginForm.controls.email.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
                  loginForm.controls.email.dirty">
                  <p>Please enter a valid email.</p>
        </ion-item>

        <ion-item>
            <ion-label stacked>Full Name</ion-label>
            <ion-input #name formControlName="name" type="text" placeholder="Full Name"
                [class.invalid]="!loginForm.controls.name.valid &&
                loginForm.controls.name.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls.name.valid  &&
                  loginForm.controls.name.dirty">
                  <p>Please enter a valid Full Name.</p>
        </ion-item> 

        <button ion-button block type="submit">
            Save User
        </button>

    </form>
</ion-content>
